<html ng-app="chatAPP">
  <head>
    <title>Socket.IO chat</title>

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!--Angular 1-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>

    <!--Angular controller-->
    <script src="./angularBackend.js"></script>

    <!--Local CSS-->
    <link rel="stylesheet" href="./style.css">

  </head>
  <body onload="start()">
    <div class="container">
        <div class="chatClass">
            <div class="header">
                {{roomName}}
            </div>
            <div class="chat" overflow="auto" id="chatDiv">
                <ul type="none">
                    <li ng-repeat="chatmessage in chatText">
                        <div class="text">
                            <span ng-if="chatmessage.sentBy">{{chatmessage.sentBy}}</span>
                            <p ng-if="chatmessage.sentBy">
                                {{chatmessage.message}}
                            </p>
                            <span style="textalign:center" ng-if="chatmessage.name">{{chatmessage.name}} joined !!</span>
                            <span ng-if="chatmessage.left">{{chatmessage.left}} left !!</span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="message form-group">
                <form name ="textForm">
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Message..." ng-model="txt"/>
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="submit" ng-click="sendMessage(txt)">Send</button>
                      </span>
                    </div>
                </form>
                <a id="bottom"></a>
            </div>
        </div>
    </div>
  </body>
</html>
