.loginClass{
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 10%;
    text-align: center;
}

.loginInput{
    width:70%;
    margin-left: 15%;
    font-size: 16px;
}

.btn{
    font-size: 16px;
}

.black{
    background-color: #2d2c2c;
}

.chatClass{
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 5%;
    height: 80%;
}

.chat{
    height:90%;
    background: white;
    overflow: auto;
}

.message{

}

li{
    width:inherit;
    text-align: left;
    padding-top: 10px;
    font-size: 14px;
    padding-left: 5px;
    padding-bottom: 5px;
}

span{
    color: red;
}

.input-group{
    padding: 5px;
    background: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.btn{
    background: #4280D7;
    text-shadow: 0 0 0;
    color: white;
    border: 0px;
}
.btn:hover {
    background: #1a237e;
    color: white;
}

.header{
    text-align: center;
    background: #4280D7;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 50px;
    line-height: 50px;
    font-size: 16px;

}
